# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual envs
.venv/
venv/
env/

# Poetry
poetry.lock

# Caches
.pytest_cache/
.ruff_cache/
.mypy_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# sentence-transformers model cache
.cache/
